<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2305C9C31CE83C48007B5F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2305C9D71CE83C48007B5F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2305C9E21CE83C48007B5F50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
